<%= render "shared/sidebar"%>

<div class="dashboard-content">
  <div class="padding-content">
    <h1>Diagnostique <%= @diagnostic.id %>
      <%= render "shared/link_icon", link: diagnostician_diagnostic_path(@diagnostic), fontawesome: "eye", klass: "" %>
    </h1>
    <div class="flex-left">
      <% @sections.each do |section| %>
        <div class="tab">
          <button class="tablinks" onclick="openTab(event, 'Section-<%= section.id %>')" id="Section<%= section.id %>"><%= section.name %></button>
        </div>
      <% end %>
    </div>
        <% @sections.each do |section| %>
          <div id="Section-<%= section.id %>">
            <h3><%= section.name.capitalize %></h3>
              <% section.questions.each do |q| %>
                <div class="margin-bottom-small">
                  <%= simple_form_for q.answers.find_or_create_by(diagnostic: @diagnostic) do |f| %>
                    <%= f.input q.input_type.to_sym, { label: q.name }.merge( q.option_choice_id? ? {collection: q.option_choices} : {}) %>
                  <%= f.button :submit, :class => "btn btn-anis" %>
                </div>
              <% end %>
            <% end %>
          </div>
        <% end %>
  </div>
</div>



<script>
 function openTab(event, elementId) {
  // Declare all variables
  var i, tabcontent, tablinks;

  // Get all elements with class="tabcontent" and hide them
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
  }

  // Get all elements with class="tablinks" and remove the class "active"
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" active", "");
  }

  // Show the current tab, and add an "active" class to the button that opened the tab
  document.getElementById(elementId).style.display = "block";
  event.currentTarget.className += " active";
  }

   // Get the element with id="defaultOpen" and click on it
  document.getElementById("Section1").click();

</script>
