<div class="dashboard-wrap">
  <%= render "shared/sidebar"%>
  <%= render "shared/sidebar_forjs"%>

  <div class="dashboard-content with_right_sidebar">
    <div class="padding-box">
      <h1 class="text-center">Diagnostique <%= @diagnostic.id %>
        <% if @user.diagnostician? %>
          <%= link_to(content_tag(:i, nil, class: 'fa fa-pencil'), edit_diagnostician_diagnostic_path(@diagnostic))%>
        <% end %>
      </h1>

      <!-- INFOS -->
      <div class="tabcontent" id="tab-info">
        <%= render "shared/card_line" %>
        <div class="card-note card-line text-center">
          <%= render "shared/map"%>
        </div>
      </div>

      <!-- PLAN -->
      <% if @user.diagnostician? %>
        <%= render "ask_and_display_plan" %>
      <% end %>

      <!-- FORM -->
      <% @sections.each do |section| %>
        <div id="Section-<%= section.id %>" class="tabcontent card-note card-line text-center">
          <h3 class="underline"><%= t('sections.'+section.name).capitalize %></h3>
          <% section.questions.each do |q| %>
            <div class="text-left">
              <p><%= q.name %></p>
              <% if q.answers.nil? %>
                <p>-------</p>
              <% else %>
                <p>-------</p>
                <%#= q.answer_is(@diagnostic).litteral_answer %>
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>

    </div>
  </div>
</div>

<!-- JS FOR PLAN -->
<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(window).load(function(){
      tabcontent = document.getElementsByClassName("tabcontent");
      for (i = 0; i < tabcontent.length; i++) {
          tabcontent[i].style.display = "none";
      }
      document.getElementById('tab-info').style.display = "block";
      document.getElementById('tab-btn-info').className += " active";
    });

    var theme = {
      ui: {
        initView: '2d',
        rotate3d: false,
        zoom: '1'
      },
      engine: {
        useSection3D: false,
        wallSectionHeight: 180,
        wallTopColor3D: "7F7F7F",
        wallTopColor2D: "000000",
        engineAutoDims: true,
        showGrid: false,
        showDims: true,
        showObjects: true,
        showLabels: true,
        useMetric: true,
        visuals: 'ALL',
      }
    };
  <% end %>
<% end %>

<script>
 function openTab(event, elementId) {
  // Declare all variables
  var i, tabcontent, tablinks;

  // Get all elements with class="tabcontent" and hide them
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
  }

  // Get all elements with class="tablinks" and remove the class "active"
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" active", "");
  }

  // Show the current tab, and add an "active" class to the button that opened the tab
  document.getElementById(elementId).style.display = "block";
  event.currentTarget.className += " active";

    // Get the element with id="defaultOpen" and click on it
  // document.getElementById("tab-info").click(); << INFINITE LOOP?
  }


</script>

