<%= render "shared/sidebar"%>

<div class="dashboard-content">
  <div class="padding-content">
    <h1>Diagnostique <%= @diagnostic.id %></h1>
      <div class="flex-left">
        <% @sections.each do |section| %>
          <div class="tab">
            <button class="tablinks" onclick="openCity(event, 'Section-<%= section.id %>')" id="Section<%= section.id %>"><%= section.name %></button>
          </div>
        <% end %>
      </div>

        <% @sections.each do |section| %>
          <div id="Section-<%= section.id %>" class="tabcontent">
            <h3><%= section.name %></h3>

              <% section.questions.each do |q| %>

                <p><strong><%= q.name %></strong></p>
                <p><%= q.current_answer_for(@diagnostic) %></p>

            <% end %>
          </div>
        <% end %>
  </div>
</div>



<script>
 function openCity(evt, cityName) {
  // Declare all variables
  var i, tabcontent, tablinks;

  // Get all elements with class="tabcontent" and hide them
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
  }

  // Get all elements with class="tablinks" and remove the class "active"
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" active", "");
  }

  // Show the current tab, and add an "active" class to the button that opened the tab
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " active";
  }

   // Get the element with id="defaultOpen" and click on it
  document.getElementById("Section1").click();

</script>
