<%= render "shared/sidebar"%>
<%= render "shared/sidebar_forjs"%>

<div class="dashboard-content with_right_sidebar">
  <div class="padding-content">
    <h1>Diagnostique <%= @diagnostic.id %>
      <% if @user.diagnostician? %>
        <%= render "shared/link_icon", link: edit_diagnostician_diagnostic_path(@diagnostic), fontawesome: "pencil", klass: "" %>
      <% end %>
    </h1>

    <!-- INFOS -->
    <div class="list-element margin-bottom-medium">
      <div class="line">
        <div class="list-name">
          <p><%= @diagnostic.booking.booker.first_name %> <%= @diagnostic.booking.booker.last_name %> : <%= @diagnostic.booking.housing.address %></p>
        </div>
        <div class="list-status">
        <p>Rendez-vous du <%= @diagnostic.booking.set_at.strftime("%d %b %Y") %></p>
        </div>
      </div>
    </div>

    <!-- PLAN -->
    <% if @user.diagnostician? %>
      <% if @diagnostic.plan.nil? %>
        <p>Ajouter un plan FloorPlanner:</p>
        <%= render "shared/search_form", url: add_plan_path, method_name: 'get', placeholder: t('diagnostic.placeholder'), label: false, btn_text: t('diagnostic.button_text') %>
      <% else %>
        <h4>Plan: </h4>
        <%= link_to delete_plan_path, method: :get do %>
          <p><i class="fa fa-trash"></i>Supprimer le plan FloorPlanner:</p>
        <% end %>
        <div id='app'>
            <div id='fp2d'>
              <iframe
                src="https://floorplanner.com/projects/<%= @diagnostic.plan %>/viewer?view=2d&section=180"
                frameborder='0'
                width='100%'
                height='650'
                scrolling='no'
                zoom='1'
                >
              </iframe>
            </div>
            <div id='fp3d'></div>
        </div>
      <% end %>
    <% end %>

    <!-- FORM -->
    <% @sections.each do |section| %>
      <div id="Section-<%= section.id %>" class="tabcontent">
        <h3><%= section.name.capitalize %></h3>
          <% section.questions.each do |q| %>
          <%# if q.has_answer?(@diagnostic) %>
            <p class="has-answer"><strong><%= q.name %></strong></p>
            <%#= q.answer_is(@diagnostic).litteral_answer %>
          <%# else %>
            <p><strong><%= q.name %></strong></p>
          <%# end %>
        <% end %>
      </div>
    <% end %>

  </div>
</div>


<!-- JS FOR PLAN -->
<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    var theme = {
      ui: {
        initView: '2d',
        rotate3d: false,
        zoom: '1'
      },
      engine: {
        useSection3D: false,
        wallSectionHeight: 180,
        wallTopColor3D: "7F7F7F",
        wallTopColor2D: "000000",
        engineAutoDims: true,
        showGrid: false,
        showDims: true,
        showObjects: true,
        showLabels: true,
        useMetric: true,
        visuals: 'ALL',
      }
    };
  <% end %>
<% end %>

<script>
 function openTab(event, elementId) {
  // Declare all variables
  var i, tabcontent, tablinks;

  // Get all elements with class="tabcontent" and hide them
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
  }

  // Get all elements with class="tablinks" and remove the class "active"
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" active", "");
  }

  // Show the current tab, and add an "active" class to the button that opened the tab
  document.getElementById(elementId).style.display = "block";
  event.currentTarget.className += " active";
  }

   // Get the element with id="defaultOpen" and click on it
  // document.getElementById("Section1").click(); << INFINITE LOOP?
</script>

