<%= render "shared/sidebar" %>

<div class="dashboard-content">
  <div class="padding-content">
    <h1>Diagnostic réf: <%= @diagnostic.id %></h1>

    <div class="list-element margin-bottom-medium">
      <div class="line">
        <div class="list-name">
          <p><%= @diagnostic.booking.booker.first_name %> <%= @diagnostic.booking.booker.last_name %> : <%= @diagnostic.booking.housing.address %></p>
        </div>
        <div class="list-status">
          <p>Rendez-vous du <%= @diagnostic.booking.set_at.strftime("%d %b %Y") %></p>
        </div>
      </div>
    </div>

    <% if @diagnostic.plan.nil? %>
      <p>Ajouter un plan FloorPlanner:</p>

      <%= render "shared/search_form", url: add_plan_path, method_name: 'get', placeholder: t('diagnostic.placeholder'), label: false, btn_text: t('diagnostic.button_text') %>
    <% else %>
      <h4>Plan: </h4>
      <%= link_to delete_plan_path, method: :get do %>
        <p><i class="fa fa-trash"></i>Supprimer le plan FloorPlanner:</p>
      <% end %>
      <div id='app'>
          <div id='fp2d'>
            <iframe
              src="https://floorplanner.com/projects/<%= @diagnostic.plan %>/viewer?view=3d&section=180"
              frameborder='0'
              width='100%'
              height='650'
              scrolling='no'
              zoom='1'
              >
            </iframe>
          </div>
          <div id='fp3d'></div>
      </div>
    <% end %>


  </div>
</div>


<% content_for(:after_js) do %>

  <%= javascript_tag do %>

    var theme = {
      ui: {
        initView: '2d',
        rotate3d: false,
        zoom: '1'
      },
      engine: {
        useSection3D: false,
        wallSectionHeight: 180,
        wallTopColor3D: "7F7F7F",
        wallTopColor2D: "000000",
        engineAutoDims: true,
        showGrid: false,
        showDims: true,
        showObjects: true,
        showLabels: true,
        useMetric: true,
        visuals: 'ALL',
      }
    };
  <% end %>
<% end %>
