    <!-- CONTENT ARTICLE -->
    <tr>
      <td style="border-collapse:collapse;min-width:600px;width:100%;" align="center"><div style="position:relative;" class="sim-row">
        <table style="width:100%;background-color:#FFFFFF;" bgcolor="#FFFFFF" cellpadding="0" cellspacing="0">
          <tbody>
            <tr>
              <td style="border-collapse:collapse;" align="center">
                <table class="width-572" style="width:100%;overflow-x:auto;max-width:572px;" bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="0">
                  <tbody>
                    <tr>
                      <td style="border-collapse:collapse;min-height:30px;" height="30"></td>
                    </tr>
                    <tr>
                      <td style="border-collapse:collapse;">
                        <table class="blockArticleImage" style="width:100%;" bgcolor="#FFFFFF" cellpadding="0" cellspacing="0">
                          <tbody>
                            <tr>
                              <td style="border-collapse:collapse;">
                                <div class="sim-row-content2-images">
                                  <a rel="nofollow" target="_blank" href=<%= link %>>
                                    <img alt="manifeste" class="image-article" style="display:block;border:none;" src=<%= image %>>
                                  </a>
                                </div>
                              </td>
                            </tr>
                            <tr>
                              <td style="border-collapse:collapse;">
                                <table style="width:100%;" cellpadding="0" cellspacing="0">
                                  <tbody>
                                    <tr>
                                      <td style="border-collapse:collapse;" height="20"></td>
                                    </tr>
                                    <tr>
                                      <td style="border-collapse:collapse;">
                                        <span style="color:rgb(45,40,70);font-size:12px;line-height:24px;font-weight:bold;text-transform:uppercase;" class="titleBlogOui                                                             sim-row-content2-title"><%= uptitle %></span>
                                        <span style="color:#F1B255;border-bottom:3px solid #F1B255;font-family:Helvetica,;font-size:12px;line-height:24px;font-weight:bold;text-transform:uppercase;" class="titleBlogOui sim-row-content2-title"></span>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td style="border-collapse:collapse;" height="6"></td>
                                    </tr>
                                    <tr>
                                      <td style="border-collapse:collapse;">
                                        <h3 style="color:rgb(45,40,70);font-weight:bold;font-family:Helvetica,;font-size:30px;line-height:42px;margin-bottom:0;margin-left:0;margin-right:0;margin-top:0;text-align:left;" class="font-30 sim-row-content2-title"><%= title %></h3>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td style="border-collapse:collapse;" height="4"></td>
                                    </tr>
                                    <tr>
                                      <td style="border-collapse:collapse;">
                                        <div style="margin-bottom:0px;font-size:21px;line-height:30px;font-family:Helvetica,;color:rgb(45,40,70);text-align:left;" class="font-21 blockArticle sim-row-content2-content"><%= text %></div>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                            <tr>
                              <td style="border-collapse:collapse;">
                                <table style="width:100%;" cellpadding="0" cellspacing="0">
                                  <tbody>
                                    <tr>
                                      <td style="border-collapse:collapse;" height="24"></td>
                                    </tr>
                                    <tr valign="middle">
                                      <td class="articleCenterBtn" style="border-collapse:collapse;" align="left">
                                        <a rel="nofollow" class="linkArticle  sim-row-content2-center-right" style="border-radius:3px;display:block;width:166px;font-size:14px;font-family:-apple-system, BlinkMacSystemFont,;text-decoration:none;text-align:left;" target="_blank" href="https://medium.com/@parentgenial/manifeste-de-parentheze-2468f5c670eb">
                                          <table style="min-height:48px;border-radius:8px;background-color:rgb(222, 192, 36);width:166px;" height="48" width="166" cellpadding="0" cellspacing="0">
                                            <tbody>
                                              <tr>
                                                <td style="font-family:-apple-system, BlinkMacSystemFont,;font-size:14px;line-height:15px;background-color:#F1B255;color:#FFFFFF;border-collapse:collapse;border-radius:8px;min-height:50px;width:142px;font-weight:bold;" align="center" height="50" valign="center" width="142"><%= button_text %></td>
                                                </tr>
                                            </tbody>
                                          </table>
                                        </a>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                    <tr>
                      <td style="border-collapse:collapse;min-height:30px;" height="30"></td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
