<%= render "shared/sidebar"%>
<div class="dashboard-content">
  <%= render "shared/map"%>
  <%= @myhousings.class %>
  <%= @hash %>
  <%= @bookings.class %>
  <%= @bookings.size %>
  <% @bookings.each do |booking| %>
    <div>
      <%= booking.id %>
    </div>
  <% end %>
</div>
