<%= render "/shared/sidebar"%>

<div class="dashboard-content">
  <div class="padding-content">
    <h3>Mes usagers</h3>

    <% @bookings.each do |booking| %>
    <div class="user">
      <div class="line">
        <div class="user-name">
          <h5><%= booking.booker.first_name %> <%= booking.booker.last_name %></h5>
        </div>
        <div class="user-status">
          <%if booking.confirmed_at != nil %>
            <p class="status accepted">
              <%= "RDV confirmé" %>
            <% else %>
            <p class="status declined">
              <%= "En attente de confirmation pour" %>
              <%= booking.set_at.strftime("le %d %b %Y") %>
            <% end %>
            <i class="fa fa-pencil"></i></p>
        </div>
      </div>
      <div class="line">
          <p class="user-data email"><%= booking.booker.email %></p>
          <p class="user-data"><%= booking.booker.phone %></p>
          <p class="user-data address"><%= booking.housing.address %></p>
      </div>
    </div>
    <% end %>
  </div>
</div>
