<div class="dashboard-wrap">

<%= render "/shared/sidebar"%>

<div class="dashboard-content">
  <div class="padding-box">
    <div class="tabcontent" id="tab-info">
      <%= render "shared/card_line" %>

      <div class="card-note card-line text-center flexbox">
        <% if @booking.to_confirm %>
          <p><i class="fa fa-exclamation-triangle"></i>Rendez-vous pris pour le <%= @booking.set_at.strftime("%d/%m/%Y") %> à partir de <%= @booking.set_at.strftime("%Hh") %> <strong><u>à confirmer</u></strong> avec le particulier.</p>
        <% else %>
          <p><i class="fa fa-check"></i>Rendez-vous pris pour le <%= @booking.set_at.strftime("%d/%m/%Y") %> à partir de <%= @booking.set_at.strftime("%Hh") %> confirmé.</p>
        <% end %>
      </div>

      <div class="flex-horizontal flex-wrap">
        <% if @booking.to_confirm %>
          <%= link_to "Marquer comme confirmé", diagnostician_booking_path(@booking), method: :patch, class: "btn btn-anis flexbox" %>
          <!-- SEND MAIL -->
        <% end %>
        <%= link_to "Annuler le rendez-vous", diagnostician_booking_path(@booking), method: :delete, data: {confirm: 'Are you sure?'}, class: "btn btn-red flexbox" %>
        <!-- SEND MAIL -->
      </div>

      <div class="card-note card-line text-center">
        <%= render "shared/map"%>
      </div>

      <div class="card-note card-line text-center">
        <h4>Ajouter/Modifier les commentaires:
          <% if @booking.comment %>
            <%= link_to delete_comment_path, method: :get do %>
              <i class="fa fa-trash"></i>
            <% end %>
          <% end %>
        </h4>
        <%= render "shared/textarea_form", url: add_comment_path, method_name: 'get', placeholder: @booking.comment, label: false, btn_text: t('booking.comment.button') %>
      </div>
    </div>
  </div>
</div>
</div>


<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(window).load(function(){
      $('#textarea').html("comment");
    });
  <% end %>
<% end %>
