<%= render "/shared/sidebar"%>

<%= month_calendar do |date| %>
  <div class="date-day"><%= date.day %></div>
    <% if Booking.where(set_at: date, start_hour: "8").count == 0 %>
      <%= render "shared/button_with_data", form_name: "data_form",
                                              path: @user_bookings_path,
                                              value1: "#{date}",
                                              value2: "8",
                                              button_text: "matinée",
                                              btn_class: "btn-calendar"
                                              %>
    <% end %>
    <% if Booking.where(set_at: date, start_hour: "14").count == 0 %>
      <%= render "shared/button_with_data", form_name: "data_form",
                                            path: @user_bookings_path,
                                            value1: "#{date}",
                                            value2: "14",
                                            button_text: "aprés-midi",
                                            btn_class: "btn-calendar"
                                            %>
    <% end %>
<% end %>
