<%= render "/shared/sidebar"%>

<%= month_calendar do |date| %>
  <div class="date-day"><%= date.day %></div>
  <div class="cell-content">
   <div class="btn-container">
    <% if half_day_is_booked?(date, "8h") %>
        <%= render "shared/button_with_data", form_name: "data_form",
                                                path: @user_bookings_path,
                                                value1: "#{date}",
                                                value2: "8h",
                                                button_text: "8h-12h",
                                                btn_class: "btn-calendar"
                                                %>
    <% end %>

    <% if half_day_is_booked?(date, "14h") %>
        <%= render "shared/button_with_data", form_name: "data_form",
                                              path: @user_bookings_path,
                                              value1: "#{date}",
                                              value2: "14h",
                                              button_text: "14h-18h",
                                              btn_class: "btn-calendar"
                                              %>
    <% end %>
    </div>
  </div>
<% end %>
