<%= render "/shared/sidebar"%>

<%= month_calendar do |date| %>
  <div class="date-day"><%= date.day %></div>
  <div class="cell-content">
    <% if half_day_is_booked?(date, "8h") %>
      <%= render "shared/button_with_data", form_name: "data_form",
                                              path: @user_bookings_path,
                                              value1: "#{date}",
                                              value2: "8h",
                                              button_text: "matinée",
                                              btn_class: "btn-calendar"
                                              %>
    <% end %>
    <% if Booking.where(set_at: date, start_hour: "14h").count == 0 %>
      <%= render "shared/button_with_data", form_name: "data_form",
                                            path: @user_bookings_path,
                                            value1: "#{date}",
                                            value2: "14h",
                                            button_text: "aprés-midi",
                                            btn_class: "btn-calendar"
                                            %>
    <% end %>
  </div>
<% end %>
