<%= render "/shared/sidebar"%>

<div class="dashboard-content">
  <%= month_calendar do |date| %>
    <div class="date-day"><%= date.day %></div>
    <div class="cell-content">
     <div class="btn-container">
      <% ["8","14"].each do |hour| %>
          <% unless @dates.include? date_with_hour(date, hour) %>
            <% if date_in_past(date) %>
              <%= render "shared/button_with_data", set_at: date_with_hour(date, hour), link: Booking.new, btn_class:  "btn-calendar-tobook" %>
            <% else %>
            <% end %>
          <% else %>
            <%= link_to @bookings[@dates.index(date_with_hour(date, hour))], method: :delete do %>
              <div class="btn-calendar">
                <div class= "btn-calendar-booked">
                  <i class="fa fa-retweet"></i>
                  <p>Non dispo.</p>
                </div>
              </div>
            <% end %>
          <% end %>
      <% end %>
      </div>
    </div>
  <% end %>
</div>
