<% @bookings.each do |booking| %>
  <%= link_to diagnostician_booking_path(booking) do %>
    <div class="user">
      <div class="line">
        <div class="user-name">
        <% if @user.diagnostician? %>
          <h5><%= booking.booker.first_name %> <%= booking.booker.last_name %></h5>
        <% else %>
          <h5>Diagnosticien: <%= booking.user.first_name %> <%= booking.user.last_name %></h5>
        <% end %>
        </div>
        <div class="user-status">
          <h5> <%= booking.set_at.strftime("le %d %b %Y") %></h5>
        </div>
      </div>
      <div class="line">
        <% if @user.diagnostician? %>
          <p class="user-data email"><%= booking.booker.email %></p>
          <p class="user-data phone"><%= booking.booker.phone %></p>
        <% else %>
          <p class="user-data email"><%= booking.user.email %></p>
          <p class="user-data phone"><%= booking.user.phone %></p>
        <% end %>
          <div>
            <%if booking.confirmed_at != nil %>
              <p class="status accepted">
                <%= "RDV confirmé" %>
                <%= booking.confirmed_at.strftime("le %d %b %Y") %>
                <% if current_user.diagnostician? %>
                  <%= link_to diagnostician_booking_path(booking) do %>
                    <i class="fa fa-eye status accepted"></i>
                  <% end %>
                  <%= link_to diagnostician_booking_path(booking), method: :patch do %>
                    <i class="fa fa-times status accepted" data-toggle="tooltip" data-placement="left" title="<%= t('tooltip.deconfirmation') %>"></i>
                  <% end %>
                  <%= link_to diagnostician_booking_path(booking), method: :delete do %>
                    <i class="fa fa-trash status accepted" data-toggle="tooltip" data-placement="left" title="<%= t('tooltip.annulation') %>"></i>
                  <% end %>
                <% end %>
              </p>
              <% else %>
              <span class="status declined"><%= "En attente de confirmation" %></span>
              <% if @user.diagnostician? %>
                  <i class="fa fa-eye status declined"></i>
                <%= link_to diagnostician_booking_path(booking), method: :patch do %>
                  <i class="fa fa-check status declined" data-toggle="tooltip" data-placement="left" title="<%= t('tooltip.confirmation') %>"></i>
                <% end %>
                <%= link_to diagnostician_booking_path(booking), method: :delete do %>
                  <i class="fa fa-trash status declined" data-toggle="tooltip" data-placement="left" title="<%= t('tooltip.annulation') %>"></i>
                <% end %>
              <% end %>
            <% end %>
          </div>
      </div>
      <div class="line">
        <p class="user-data address">Adresse du rendez-vous: <%= booking.housing.address %></p>
      </div>
    </div>
  <% end %>
<% end %>
