<div class="card-note text-center">
  <div class="underline">
    <!-- <i class="fa fa-user big"></i> -->
    <h3><%= @booking.booker.first_name.capitalize %> <%= @booking.booker.last_name.capitalize %></h3>
    <div class="flexbox">
      <div class="card-mini border-right"><i class="fa fa-envelope-o"></i><p><%= @booking.booker.email %></p></div>
      <div class="card-mini"><i class="fa fa-phone"></i><p><%= @booking.booker.phone %></p></div>
    </div>
  </div>
  <div class="flexbox">
    <div class="card-mini"><i class="fa fa-home"></i><p><%= @booking.housing.geoloc %></p></div>
  </div>
  <div><p>Demande reçue le <%= @booking.created_at.strftime(" %d %b %Y") %></p></div>
  <% if @booking.confirmed_at.nil? != true && @booking.confirmed_at > @booking.created_at %>
    <p>Demande confirmée le <%= @booking.confirmed_at.strftime(" %d %b %Y") %></p>
  <% end %>
  <div class="btns">
    <%= link_to "Le rendez-vous est confirmé", "#", class: "btn-slim btn-anis flexbox margin-bottom-small" %>
    <%= link_to "Supprimer le rendez-vous", "#", class: "btn-slim btn-red flexbox" %>
  </div>
</div>
