<% @diagnostics.each do |diagnostic| %>
    <div class="list-element">
      <div class="line">
        <div class="user-name">
          <%= link_to diagnostician_diagnostic_path(diagnostic) do %>
            <h5>Diagnostic réf diag-o<%= diagnostic.id %></h5>
          <% end %>
        </div>
        <div class="user-status">
          <h5>Rendez-vous du <%= diagnostic.booking.set_at.strftime("%d %b %Y") %></h5>
        </div>
      </div>
      <div class="line">
        <div>
          <p class="user-data address">
            <%= diagnostic.booking.booker.first_name %> <%= diagnostic.booking.booker.last_name %> : <%= diagnostic.booking.housing.address %>
          </p>
        </div>
        <div class="min-width text-right">
          <p class="status declined"><%= t('diagnostic.pending') %>
            <%= link_to diagnostician_diagnostic_path(diagnostic) do %>
              <i class="fa fa-eye" data-toggle="tooltip" data-placement="top" title="Voir le diagnostic"></i>
            <% end %>


            <% if @user.diagnostician? %>
              <%= link_to edit_diagnostician_diagnostic_path(diagnostic) do%>
                <i class="fa fa-pencil" data-toggle="tooltip" data-placement="top" title="Modifier le diagnostic"></i>
              <% end %>
            <% end %>

          </p>
        </div>
      </div>
    </div>
<% end %>

<% content_for (:after_js) do %>
  <script>
    $(function () {
    $('[data-toggle="tooltip"]').tooltip()
    })
  </script>
<% end %>
