<div class="incoming dashboard-container">
  <h3>Prochains RDV:</h3>



<table class="table table-hover">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Address</th>
      <th>Date RDV</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
<% @incoming.each do |booking| %>
    <tr>
      <th><%= booking.id %></th>
      <td><%= booking.booker.first_name %> <%= booking.booker.last_name %></td>
      <td><%= booking.housing.address %></td>
      <td><%= booking.set_at.to_date %></td>
      <td>
        <%= link_to booking_path(booking.id) do %>
              <i class="fa fa-eye"></i>
        <% end %>
      </td>
      <td>
        <%= link_to user_path(booking.booker.id) do %>
              <i class="fa fa-user"></i>
        <% end %>
      </td>
      <td>
        <%= link_to booking_path(booking.id) do %>
              <i class="fa fa-folder-open-o"></i>
        <% end %>
      </td>
    </tr>
<% end %>
  </tbody>
</table>


