<div class="sidebar">
  <%= render "shared/sidebar-button", text: t('buttons.button1.text'), icon: t('buttons.button1.icon'), link: diagnostician_user_path(@user) %>
  <%= render "shared/sidebar-button", text: t('buttons.button2.text'), icon: t('buttons.button2.icon'), link: "" %>
  <%= render "shared/sidebar-button", text: t('buttons.button3.text'), icon: t('buttons.button3.icon'), link: bookings_path %>
  <%= render "shared/sidebar-button", text: t('buttons.button4.text'), icon: t('buttons.button4.icon'), link: "" %>
  <%= render "shared/sidebar-button", text: t('buttons.button5.text'), icon: t('buttons.button5.icon'), link: diagnostician_bookings_path %>
</div>
