<div class="sidebar-right">
  <button class="sidebar-button-capsule tablinks" onclick="openTab(event, 'tab-info')" id="tab-btn-info"><%= t('sections.infos').capitalize %></button>
  <button class="sidebar-button-capsule tablinks" onclick="openTab(event, 'tab-plan')" id="tab-btn-plan"><%= t('sections.plans').capitalize %></button>

  <% @sections.each do |section| %>
    <button class="sidebar-button-capsule tablinks" onclick="openTab(event, 'Section-<%= section.id %>')" id="Section<%= section.id %>"><%= t('sections.'+section.name).capitalize %>
    </button>
  <% end %>
</div>
