<div class="dashboard-wrap">
  <%= render "shared/sidebar" %>

  <div class="dashboard-content">
    <%= render "shared/tabs", link1: new_diagnostician_housing_path, link2: diagnostician_valuations_path, link3: diagnostician_housings_path %>
    <div class="padding-box">

        <div class="flex-horizontal">
          <div class="form-box">
            <div class="form-title flexbox">
              <h3 class="text-center "><%= t('valuation.form_title') %></h3>
            </div>
            <% unless params[:query].nil? %>
              <% if @price.nil? && @error %>
                <div class="valuation-message form-title error flexbox relative">
                  <p class="text-center"><%= @error %></p>
                  <i class="fa fa-times close-it clickable"></i>
                </div>
              <% elsif @price %>
                <div class="valuation-message form-title ok flexbox relative">
                  <h3 class="text-center">Bien estimé à: <%= @price %>€</h3>
                  <i class="fa fa-times close-it clickable"></i>
                </div>
              <% end %>
            <% end %>
            <div class="form-inputs">
              <h4>Données du bien:</h4>
              <%= simple_form_for @housing, url: diagnostician_housings_path, method: :post do |f| %>
                <p>Les champs avec étoiles(*) sont obligatoires.</p>
                <%= f.input :geoloc, input_html: {value: session[:geoloc] || "" }, label: t('housing.field.geoloc') %>
                <%= f.input :floor, collection: 0..60, placeholder: "0", label: t('housing.field.floor'), error: 'Username is mandatory, please specify one' %>
                <%= f.input :surface, placeholder: '0', label: t('housing.field.surface') %>
                <%= f.input :rooms, collection: 1..15, placeholder: "0", label: t('housing.field.rooms') %>
                <%= f.input :construction_quality, collection: 0..5, label: t('housing.field.construction') %>
                <%= f.input :kitchen_quality, collection: 0..5, label: t('housing.field.kitchen') %>
                <%= f.input :bathroom_quality, collection: 0..5, label: t('housing.field.bathroom') %>
                <%= f.input :living_quality, collection: 0..5, label: t('housing.field.living') %>
                <%= f.input :rooms_quality, collection: 0..5, label: t('housing.field.room') %>
                <%= f.input_field :only_valuation, value: true, as: :hidden %>
                <div class="row">
                  <div class="col-xs-6 col-sm-6 col-md-12">
                    <%= f.input :parking_lot, as: :boolean, checked_value: true, unchecked_value: false, label: t('housing.field.parking') %>
                    <%= f.input :basement, as: :boolean, checked_value: true, unchecked_value: false, label: t('housing.field.basement') %>
                    <%= f.input :elevator, as: :boolean, checked_value: true, unchecked_value: false, label: t('housing.field.elevator'), class: "checkbox-inline" %>
                  </div>
                  <div class="col-xs-6 col-sm-6 col-md-12">
                    <%= f.input :concierge, as: :boolean, checked_value: true, unchecked_value: false, label: t('housing.field.concierge') %>
                    <%= f.input :collective_heating, as: :boolean, checked_value: true, unchecked_value: false, label: t('housing.field.heating') %>
                    <%= f.input :balcony, as: :boolean, checked_value: true, unchecked_value: false, label: t('housing.field.balcony') %>
                  </div>
                </div>
                <%= f.button :submit, class: 'btn-green', value: "Évaluer", id:"submit_valuation" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for (:after_js) do %>
  <script>
    $(document).ready(function() {
      $('.close-it').click(function(){
        $('.valuation-message').remove();
      })
      var table = document.getElementById("new_housing");
      var fields = table.getElementsByTagName("input");
      for (var i = 0; i < fields.length; i++) {
        fields[i].addEventListener('keypress', function(event) {
          if (event.keyCode == 13) {
              event.preventDefault();
          }
        });
      }
    });
  </script>
<% end %>
