<%= render "shared/breadcrumb", page: @page %>

<h3 class="text-center "><%= t('inscription.checkpoint1') %></h3>
<p class="text-center margin-bottom-small"><%= t('inscription.checkpoint2') %></p>

<div class="flex-horizontal">
  <%= link_to new_user_session_path do%>
    <div class="btn-big-square flexbox">
      <%= t('inscription.checkpoint3') %>
    </div>
  <% end %>
  <%= link_to new_user_registration_path do %>
    <div class="btn-big-square flexbox">
      <%= t('inscription.checkpoint4') %>
    </div>
  <% end %>
</div>
