<%= render "shared/breadcrumb", page: @page %>

<h3 class="text-center "><%= t('inscription.disponibility1') %></h3>
<p class="text-center margin-bottom-small"><%= t('inscription.disponibility2') %></p>

<%= month_calendar do |date| %>
  <div class="date-day"><%= date.day %></div>
  <div class="cell-content">
    <div class="btn-container">
      <% ["8","14"].each do |hour| %>
        <% if date_in_past(date) %>
          <% unless @dates.include? date_with_hour(date, hour) %>
            <%= link_to (hour == "8" ? "8h-12h" : "14h-18h"), new_user_registration_path, class: "btn-calendar btn-calendar-tobook" %>
            <%#= render "shared/button_with_data", set_at: date_with_hour(date, hour), link: checkpoint_path, btn_class: "btn-calendar btn-calendar-tobook" %>
          <% else %>
            <div class= "btn-calendar btn-calendar-nothing"></div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
