<%= render "shared/breadcrumb", page: @page %>

<h3 class="text-center "><%= t('inscription.disponibility1') %></h3>
<p class="text-center margin-bottom-medium"><%= t('inscription.disponibility2') %></p>

<%= calendar start_date_param: :my_date, number_of_days: 25, partial: 'simple_calendar/disponibility_calendar' do |date| %>
  <div class="date-day"><%= date.day %></div>
  <div class="cell-content">
    <div class="btn-container">
      <% ["8","14"].each do |hour| %>
        <% if date_in_futur(date) %>
          <% unless @dates.include? date_with_hour(date, hour) %>
            <%= simple_form_for :query, url: "/checkpoint", method: :get do |f| %>
              <%= f.input_field :date, as: :hidden, value: date %>
              <%= f.input_field :hour, as: :hidden, value: hour %>
              <%= f.button :submit, value: (hour == "8" ? "8h-12h" : "14h-18h"), id: "btn-date", data: { disable_with: "-" }, class: "btn-calendar btn-calendar-tobook" %>
            <% end %>
          <% else %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
